.darkmode-input:checked + div .darkmode-spinner {
    transform: translateX(60px);
}

.darkmode-input:checked + div {
    background-color: rgb(163, 96, 226);
}

.darkmode-input:checked + div .darkmode-spinner {
    background-color: white;
}

.product-slider {
    position: relative;
}

.slick-initialized .slick-slide {
    margin: 0px 12px;
}

.product-slider .slick-prev {
   
    position: absolute; 
    top: 50%;
    left: 0;
    z-index: 2;
    transform: translateY(-50%);
}

.product-slider .slick-next {
    position: absolute;
    top: 50%;
    right: 0;
    z-index: 2;
    transform: translateY(-50%);
}

.product-slider button {
    width: 30px;
    height: 30px;
    background-color: antiquewhite;
}

.product-slider .slick-arrow {
    font-size: 22px;
    

}
