.darkmode-input:checked + div .darkmode-spinner {
    transform: translateX(60px);
}

.darkmode-input:checked + div {
    background-color: rgb(163, 96, 226);
}

.darkmode-input:checked + div .darkmode-spinner {
    background-color: white;
}

.product-slider {
    display: grid !important;
}

.slick-initialized .slick-slide {
    column-gap: 30px;
}
