.darkmode-input:checked + div .darkmode-spinner {
    transform: translateX(60px);
}

.darkmode-input:checked + div {
    background-color: rgb(163, 96, 226);
}

.darkmode-input:checked + div .darkmode-spinner {
    background-color: white;
}

.product-slider {
    /* position: relative; */
}

.slick-initialized .slick-slide {
    margin: 0px 12px;
}

.product-slider .slick-prev {
   
    /* position: absolute; */
    /* top: 50%; */
    left: 0;
}
